App_WebReferences/ir/smsnegar/sms/smsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendSMSEnquee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageBodies" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="recipientNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="senderNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="encodings" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="udhs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="messageClasses" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="priorities" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendSMSEnqueeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSMSEnqueeResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLong">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="long" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="sendSingleSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recipientNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSingleSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendSingleSMSResult" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="messageId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessageStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getMessageStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessageStatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageId" type="tns:ArrayOfLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMessageStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMessageStatusesResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReciveSMSWithNumberOnDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReciveSMSWithNumberOnDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReciveSMSWithNumberOnDateResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReciveInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="reciveInfo" nillable="true" type="tns:reciveInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="reciveInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="senderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reciverNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="reciveID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllReciveSMSWithNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReciveSMSWithNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReciveSMSWithNumberResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReciveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReciveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReciveSMSResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReciveSMSOnDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReciveSMSOnDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReciveSMSOnDateResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReciveSMSOnReciveID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reciveID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReciveSMSOnReciveIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReciveSMSOnReciveIDResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastReciveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfRecive" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastReciveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastReciveSMSResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastReciveSMSWithNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numberOfRecive" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastReciveSMSWithNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastReciveSMSWithNumberResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSendSMSOnDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recipientNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sendDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendTime" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setSendSMSOnDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setSendSMSOnDateTimeResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeActiveOfSendSMSOnDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendID" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="active" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changeActiveOfSendSMSOnDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changeActiveOfSendSMSOnDateTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getResultOfSendSMSOnDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getResultOfSendSMSOnDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getResultOfSendSMSOnDateTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeSendSMSOnDateTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sendID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeSendSMSOnDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="removeSendSMSOnDateTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getCreditResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalUnreadSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalUnreadSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalUnreadSMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalUnreadSMSWithNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalUnreadSMSWithNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalUnreadSMSWithNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnreadSMSResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMSWithNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMSWithNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnreadSMSWithNumberResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReadReciveSMSOnDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReadReciveSMSOnDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReadReciveSMSOnDateResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMSWithNoChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnreadSMSWithNoChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnreadSMSWithNoChangeResult" type="tns:ArrayOfReciveInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSendSMSOnDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSendSMSOnDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSendSMSOnDateResult" type="tns:ArrayOfSendInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSendInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SendInfo" nillable="true" type="tns:SendInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SendInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="senderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reciverNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendSMSEnqueeSoapIn">
    <wsdl:part name="parameters" element="tns:sendSMSEnquee" />
  </wsdl:message>
  <wsdl:message name="sendSMSEnqueeSoapOut">
    <wsdl:part name="parameters" element="tns:sendSMSEnqueeResponse" />
  </wsdl:message>
  <wsdl:message name="sendSingleSMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendSingleSMS" />
  </wsdl:message>
  <wsdl:message name="sendSingleSMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendSingleSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getMessageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getMessageStatus" />
  </wsdl:message>
  <wsdl:message name="getMessageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getMessageStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getMessageStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:getMessageStatuses" />
  </wsdl:message>
  <wsdl:message name="getMessageStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:getMessageStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="getReciveSMSWithNumberOnDateSoapIn">
    <wsdl:part name="parameters" element="tns:getReciveSMSWithNumberOnDate" />
  </wsdl:message>
  <wsdl:message name="getReciveSMSWithNumberOnDateSoapOut">
    <wsdl:part name="parameters" element="tns:getReciveSMSWithNumberOnDateResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSWithNumberSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReciveSMSWithNumber" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSWithNumberSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReciveSMSWithNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReciveSMS" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReciveSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSOnDateSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReciveSMSOnDate" />
  </wsdl:message>
  <wsdl:message name="getAllReciveSMSOnDateSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReciveSMSOnDateResponse" />
  </wsdl:message>
  <wsdl:message name="getReciveSMSOnReciveIDSoapIn">
    <wsdl:part name="parameters" element="tns:getReciveSMSOnReciveID" />
  </wsdl:message>
  <wsdl:message name="getReciveSMSOnReciveIDSoapOut">
    <wsdl:part name="parameters" element="tns:getReciveSMSOnReciveIDResponse" />
  </wsdl:message>
  <wsdl:message name="getLastReciveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:getLastReciveSMS" />
  </wsdl:message>
  <wsdl:message name="getLastReciveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:getLastReciveSMSResponse" />
  </wsdl:message>
  <wsdl:message name="getLastReciveSMSWithNumberSoapIn">
    <wsdl:part name="parameters" element="tns:getLastReciveSMSWithNumber" />
  </wsdl:message>
  <wsdl:message name="getLastReciveSMSWithNumberSoapOut">
    <wsdl:part name="parameters" element="tns:getLastReciveSMSWithNumberResponse" />
  </wsdl:message>
  <wsdl:message name="setSendSMSOnDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:setSendSMSOnDateTime" />
  </wsdl:message>
  <wsdl:message name="setSendSMSOnDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:setSendSMSOnDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="changeActiveOfSendSMSOnDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:changeActiveOfSendSMSOnDateTime" />
  </wsdl:message>
  <wsdl:message name="changeActiveOfSendSMSOnDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:changeActiveOfSendSMSOnDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="getResultOfSendSMSOnDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:getResultOfSendSMSOnDateTime" />
  </wsdl:message>
  <wsdl:message name="getResultOfSendSMSOnDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:getResultOfSendSMSOnDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="removeSendSMSOnDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:removeSendSMSOnDateTime" />
  </wsdl:message>
  <wsdl:message name="removeSendSMSOnDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:removeSendSMSOnDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="getCreditSoapIn">
    <wsdl:part name="parameters" element="tns:getCredit" />
  </wsdl:message>
  <wsdl:message name="getCreditSoapOut">
    <wsdl:part name="parameters" element="tns:getCreditResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalUnreadSMSSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalUnreadSMS" />
  </wsdl:message>
  <wsdl:message name="GetTotalUnreadSMSSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalUnreadSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetTotalUnreadSMSWithNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalUnreadSMSWithNumber" />
  </wsdl:message>
  <wsdl:message name="GetTotalUnreadSMSWithNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalUnreadSMSWithNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadSMS" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSWithNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadSMSWithNumber" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSWithNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadSMSWithNumberResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReadReciveSMSOnDateSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReadReciveSMSOnDate" />
  </wsdl:message>
  <wsdl:message name="getAllReadReciveSMSOnDateSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReadReciveSMSOnDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSWithNoChangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnreadSMSWithNoChange" />
  </wsdl:message>
  <wsdl:message name="GetUnreadSMSWithNoChangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnreadSMSWithNoChangeResponse" />
  </wsdl:message>
  <wsdl:message name="getSendSMSOnDateSoapIn">
    <wsdl:part name="parameters" element="tns:getSendSMSOnDate" />
  </wsdl:message>
  <wsdl:message name="getSendSMSOnDateSoapOut">
    <wsdl:part name="parameters" element="tns:getSendSMSOnDateResponse" />
  </wsdl:message>
  <wsdl:portType name="smsWebServiceSoap">
    <wsdl:operation name="sendSMSEnquee">
      <wsdl:input message="tns:sendSMSEnqueeSoapIn" />
      <wsdl:output message="tns:sendSMSEnqueeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSingleSMS">
      <wsdl:input message="tns:sendSingleSMSSoapIn" />
      <wsdl:output message="tns:sendSingleSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMessageStatus">
      <wsdl:input message="tns:getMessageStatusSoapIn" />
      <wsdl:output message="tns:getMessageStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMessageStatuses">
      <wsdl:input message="tns:getMessageStatusesSoapIn" />
      <wsdl:output message="tns:getMessageStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSWithNumberOnDate">
      <wsdl:input message="tns:getReciveSMSWithNumberOnDateSoapIn" />
      <wsdl:output message="tns:getReciveSMSWithNumberOnDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSWithNumber">
      <wsdl:input message="tns:getAllReciveSMSWithNumberSoapIn" />
      <wsdl:output message="tns:getAllReciveSMSWithNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMS">
      <wsdl:input message="tns:getAllReciveSMSSoapIn" />
      <wsdl:output message="tns:getAllReciveSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSOnDate">
      <wsdl:input message="tns:getAllReciveSMSOnDateSoapIn" />
      <wsdl:output message="tns:getAllReciveSMSOnDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSOnReciveID">
      <wsdl:input message="tns:getReciveSMSOnReciveIDSoapIn" />
      <wsdl:output message="tns:getReciveSMSOnReciveIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMS">
      <wsdl:input message="tns:getLastReciveSMSSoapIn" />
      <wsdl:output message="tns:getLastReciveSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMSWithNumber">
      <wsdl:input message="tns:getLastReciveSMSWithNumberSoapIn" />
      <wsdl:output message="tns:getLastReciveSMSWithNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setSendSMSOnDateTime">
      <wsdl:input message="tns:setSendSMSOnDateTimeSoapIn" />
      <wsdl:output message="tns:setSendSMSOnDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changeActiveOfSendSMSOnDateTime">
      <wsdl:input message="tns:changeActiveOfSendSMSOnDateTimeSoapIn" />
      <wsdl:output message="tns:changeActiveOfSendSMSOnDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getResultOfSendSMSOnDateTime">
      <wsdl:input message="tns:getResultOfSendSMSOnDateTimeSoapIn" />
      <wsdl:output message="tns:getResultOfSendSMSOnDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeSendSMSOnDateTime">
      <wsdl:input message="tns:removeSendSMSOnDateTimeSoapIn" />
      <wsdl:output message="tns:removeSendSMSOnDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <wsdl:input message="tns:getCreditSoapIn" />
      <wsdl:output message="tns:getCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMS">
      <wsdl:input message="tns:GetTotalUnreadSMSSoapIn" />
      <wsdl:output message="tns:GetTotalUnreadSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMSWithNumber">
      <wsdl:input message="tns:GetTotalUnreadSMSWithNumberSoapIn" />
      <wsdl:output message="tns:GetTotalUnreadSMSWithNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMS">
      <wsdl:input message="tns:GetUnreadSMSSoapIn" />
      <wsdl:output message="tns:GetUnreadSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNumber">
      <wsdl:input message="tns:GetUnreadSMSWithNumberSoapIn" />
      <wsdl:output message="tns:GetUnreadSMSWithNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReadReciveSMSOnDate">
      <wsdl:input message="tns:getAllReadReciveSMSOnDateSoapIn" />
      <wsdl:output message="tns:getAllReadReciveSMSOnDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNoChange">
      <wsdl:input message="tns:GetUnreadSMSWithNoChangeSoapIn" />
      <wsdl:output message="tns:GetUnreadSMSWithNoChangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSendSMSOnDate">
      <wsdl:input message="tns:getSendSMSOnDateSoapIn" />
      <wsdl:output message="tns:getSendSMSOnDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smsWebServiceSoap" type="tns:smsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMSEnquee">
      <soap:operation soapAction="http://tempuri.org/sendSMSEnquee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSingleSMS">
      <soap:operation soapAction="http://tempuri.org/sendSingleSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatus">
      <soap:operation soapAction="http://tempuri.org/getMessageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatuses">
      <soap:operation soapAction="http://tempuri.org/getMessageStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSWithNumberOnDate">
      <soap:operation soapAction="http://tempuri.org/getReciveSMSWithNumberOnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSWithNumber">
      <soap:operation soapAction="http://tempuri.org/getAllReciveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMS">
      <soap:operation soapAction="http://tempuri.org/getAllReciveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSOnDate">
      <soap:operation soapAction="http://tempuri.org/getAllReciveSMSOnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSOnReciveID">
      <soap:operation soapAction="http://tempuri.org/getReciveSMSOnReciveID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMS">
      <soap:operation soapAction="http://tempuri.org/getLastReciveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMSWithNumber">
      <soap:operation soapAction="http://tempuri.org/getLastReciveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSendSMSOnDateTime">
      <soap:operation soapAction="http://tempuri.org/setSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeActiveOfSendSMSOnDateTime">
      <soap:operation soapAction="http://tempuri.org/changeActiveOfSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultOfSendSMSOnDateTime">
      <soap:operation soapAction="http://tempuri.org/getResultOfSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeSendSMSOnDateTime">
      <soap:operation soapAction="http://tempuri.org/removeSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <soap:operation soapAction="http://tempuri.org/getCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMS">
      <soap:operation soapAction="http://tempuri.org/GetTotalUnreadSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMSWithNumber">
      <soap:operation soapAction="http://tempuri.org/GetTotalUnreadSMSWithNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMS">
      <soap:operation soapAction="http://tempuri.org/GetUnreadSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNumber">
      <soap:operation soapAction="http://tempuri.org/GetUnreadSMSWithNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadReciveSMSOnDate">
      <soap:operation soapAction="http://tempuri.org/getAllReadReciveSMSOnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNoChange">
      <soap:operation soapAction="http://tempuri.org/GetUnreadSMSWithNoChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSendSMSOnDate">
      <soap:operation soapAction="http://tempuri.org/getSendSMSOnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsWebServiceSoap12" type="tns:smsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendSMSEnquee">
      <soap12:operation soapAction="http://tempuri.org/sendSMSEnquee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSingleSMS">
      <soap12:operation soapAction="http://tempuri.org/sendSingleSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatus">
      <soap12:operation soapAction="http://tempuri.org/getMessageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageStatuses">
      <soap12:operation soapAction="http://tempuri.org/getMessageStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSWithNumberOnDate">
      <soap12:operation soapAction="http://tempuri.org/getReciveSMSWithNumberOnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSWithNumber">
      <soap12:operation soapAction="http://tempuri.org/getAllReciveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMS">
      <soap12:operation soapAction="http://tempuri.org/getAllReciveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReciveSMSOnDate">
      <soap12:operation soapAction="http://tempuri.org/getAllReciveSMSOnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReciveSMSOnReciveID">
      <soap12:operation soapAction="http://tempuri.org/getReciveSMSOnReciveID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMS">
      <soap12:operation soapAction="http://tempuri.org/getLastReciveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastReciveSMSWithNumber">
      <soap12:operation soapAction="http://tempuri.org/getLastReciveSMSWithNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSendSMSOnDateTime">
      <soap12:operation soapAction="http://tempuri.org/setSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeActiveOfSendSMSOnDateTime">
      <soap12:operation soapAction="http://tempuri.org/changeActiveOfSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResultOfSendSMSOnDateTime">
      <soap12:operation soapAction="http://tempuri.org/getResultOfSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeSendSMSOnDateTime">
      <soap12:operation soapAction="http://tempuri.org/removeSendSMSOnDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCredit">
      <soap12:operation soapAction="http://tempuri.org/getCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMS">
      <soap12:operation soapAction="http://tempuri.org/GetTotalUnreadSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalUnreadSMSWithNumber">
      <soap12:operation soapAction="http://tempuri.org/GetTotalUnreadSMSWithNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMS">
      <soap12:operation soapAction="http://tempuri.org/GetUnreadSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNumber">
      <soap12:operation soapAction="http://tempuri.org/GetUnreadSMSWithNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReadReciveSMSOnDate">
      <soap12:operation soapAction="http://tempuri.org/getAllReadReciveSMSOnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadSMSWithNoChange">
      <soap12:operation soapAction="http://tempuri.org/GetUnreadSMSWithNoChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSendSMSOnDate">
      <soap12:operation soapAction="http://tempuri.org/getSendSMSOnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="smsWebService">
    <wsdl:port name="smsWebServiceSoap" binding="tns:smsWebServiceSoap">
      <soap:address location="http://sms.smsnegar.ir/smsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="smsWebServiceSoap12" binding="tns:smsWebServiceSoap12">
      <soap12:address location="http://sms.smsnegar.ir/smsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>